@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}



html, body, * {
  scrollbar-width: thin;                          
  scrollbar-color: rgba(105, 117, 155, 0.2) transparent;           
}

/* WebKit browsers */
*::-webkit-scrollbar {
  width: 12px;                                   
  height: 12px;                                   
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 999px !important;
  border: 3px solid transparent;                  
  background-clip: content-box;

}

*::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}
